{"env":{"staging":{"db":"http:\/\/ouchdb:07chdb@127.0.0.1:5984\/iatidev"},"default":{"db":"http:\/\/ouchdb:07chdb@127.0.0.1:5984\/iati_usd"},"production":{"db":"http:\/\/ouchdb:07chdb@iati.iriscouch.com\/iati_usd"}}}