{"env":{"staging":{"db":"http:\/\/ouchdb:07chdb@127.0.0.1:5984\/iati"},"default":{"db":"http:\/\/ouchdb:07chdb@127.0.0.1:5984\/iati"},"production":{"db":"http:\/\/ouchdb:07chdb@iati.iriscouch.com:5984\/iati"}}}