<html>
<head>
<title>{{title}}</title>
<link rel="shortcut icon"
	href="http://iatiregistry.org//images/favicon.ico">

<script src="/_utils/script/jquery.js"></script>
<script type="text/javascript">
	function wiki_guess() {
		console.log('wiki_guess');
		$(".entity").click(
				function() {
					var wiki_url = 'http://en.wikipedia.org/wiki/'
							+ $(this).html().replace(/\s/g, '_');
					console.log(wiki_url);
					window.open(wiki_url);
				});
	}
</script>
<link rel="stylesheet" href="/calais/_design/document/style/main.css" type="text/css" media="screen, print">

</head>
<body onload="wiki_guess()">
	<H1 style="color: FireBrick" class="title">{{title}}</H1>
	<div id="url">{{{url}}}</div>
	
	<div id="contents_activities">

	<ul id="activities">
	{{#activity_array}}
	<li id="{{.}}" class="activity"><a href="/buza_iati/_design/activity/_show/activity_full/{{.}}" target="{{.}}">{{.}}</a></li>
	{{/activity_array}}
	</ul>	

	</div>

	<div id="contents_document">

	{{{document}}}
	
	</div>
</body>
</html>