body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #222;
	background-image:
		url('Nivocer_web-background.png');
	background-position: bottom left;
	background-repeat: no-repeat;
	background-color: #FFFAFA;
}

#dimensions_table {
	width: 100%;
}

#overview_table {
	width: 100%;
	text-align: center;
}

#view_row {
	vertical-align: top;
}

#view-panel {
	margin-top: 3em;
}

#facetpanel_left {
	width: 20%;
}

#facetpanel_right {
	width: 20%;
}

#view-panel table {
	border-spacing: 0px;
	border-collapse: collapse;

}

#view-panel h1 {
	border: none;
	font-size: 120%;
}

#view-panel h1 {
	border: none;
	background: none;
	padding: 0;
	margin: 1em 0;
}

#view-panel h2 {
	border: none;
	background: none;
	padding: 0;
	margin: 0.5em;
}

.item {
	border: 1px solid #aaa;
	padding: 0.3em;
}

div.thumbnail {
	border: 1px solid #aaa;
	padding: 1em;
	margin: 1em;
	width: 100px;
	height: 130px;
	text-align: center;
}

div.map-lens {
	width: 200px;
	height: 200px;
	text-align: center;
}

div.thumbnail div {
	height: 100px;
	overflow: hidden;
}

div.exhibit-facet-body {
	background-color: #F5F5F5;
	border: 1px solid #B8B8BB;
}

div.exhibit-facet-header {
	color: #523015;
	background-color: snow;
}

table.exhibit-tabularView-body {
	border: 1px solid #B8B8BB;
}

div.exhibit-barchartview-canvas {
	background: #F5F5F5;
	//
	WhiteSmoke
}

div.exhibit-scatterPlotView-canvas {
	background: #F5F5F5;
}

div.exhibit-scatterPlotView-plotContainer {
	height: 800px;
}

div.exhibit-barChartView-bar {
	color: #FFFAFA;
	background-color: #B22222;
}

div.exhibit-facet-value {
	
}

div.exhibit-facet-value-selected {
	
}

div.exhibit-facet-value-inner {
	
}

div.exhibit-facet-value {
	color: #B22222;
}

a.exhibit-facet-value-link,a.exhibit-facet-value-link:hover,a.exhibit-facet-value-link:selected
	{
	
}

a.exhibit-facet-value-link {
	color: #B22222;
	text-decoration: none;
}

a.report_link {
	color: #708090;
	text-decoration: none;
}

a.activity_link {
	color: #B22222;
	text-decoration: none;
}

.exhibit-item {
	color: #B22222;
	text-decoration: none;
}

div.exact {
	display: inline;
	color: #B22222;
}

h1 {
	color: #B22222;
}

h2,h3 {
	color: #708090;
}