<html>
<head>
<title>{{title}}</title>

<link rel="shortcut icon"
	href="http://iatiregistry.org//images/favicon.ico">

<script src="/_utils/script/jquery.js"></script>
<script type="text/javascript">
	function wiki_guess() {
		console.log('wiki_guess');
		$(".entity").click(
				function() {
					var wiki_url = 'http://en.wikipedia.org/wiki/'
							+ $(this).html().replace(/\s/g, '_');
					console.log(wiki_url);
					window.open(wiki_url);
				});

		console.log(document.location.host);

		$
				.get(
						'http://'
								+ document.location.host
								+ '/calais/_design/documents/_view/fact_activity?reduce=false',
						function(data) {
							var json = eval("(" + data + ")");
							for (k in json.rows) {
								if (json.rows[k]['key'][0] == '{{identifier}}') {
									var report = json.rows[k]['key'][1];
									var report_div = $('<div/>', {
										id : report,
										text : report
									}).appendTo('.report');
									report_div
											.click(function() {
												var report_url = 'http://'
														+ document.location.host
														+ '/calais/_design/document/_show/context_entity/'
														+ $(this).html();
												console.log(report_url);
												window.open(report_url);
											});
								}
							}
						});
	}
</script>
<link rel="stylesheet" href="/buza_iati/_design/activity/style/main.css"
	type="text/css" media="screen, print">

</head>
<body onload="wiki_guess()">
	<H1 style="color: FireBrick" class="title">{{description}}</H1>
	<div id="url">{{{url}}}</div>
	<div id="key_">Last updated: {{{update_time}}}</div>


	<div id="contents">

		<div class="divRow">

			<div class="key_">Identifier</div>
			<div class="value_">{{identifier}}</div>

		</div>
		<div class="divRow">

			<div class="key_">Title</div>
			<div class="value_">{{title}}</div>

		</div>
		<div class="divRow">

			<div class="key_">Description</div>
			<div class="value_">{{description}}</div>

		</div>
		<div class="divRow">

			<div class="key_">Status</div>
			<div class="value_">{{status}}</div>

		</div>
		<div class="divRow">

			<div class="key_">Planned start</div>
			<div class="value_">{{start_planned}}</div>

		</div>
		<div class="divRow">

			<div class="key_">Actual start</div>
			<div class="value_">{{start_actual}}</div>

		</div>
		<div class="divRow">

			<div class="key_">Planned end</div>
			<div class="value_">{{end_planned}}</div>

		</div>
		<div class="divRow">

			<div class="key_">Actual end</div>
			<div class="value_">{{end_actual}}</div>

		</div>
		<div class="divRow">

			<h2 class="title">Participants</h2>

		</div>
		<div class="divRow">

			<div class="key_">Recipient</div>
			<div class="value_">
				<div class="entity">{{r_country}}</div>
			</div>

		</div>
		<div class="divRow">

			<div class="key_">Funding Organisation</div>
			<div class="value_">
				<div class="entity">{{fundorg}}</div>
			</div>

		</div>
		<div class="divRow">

			<div class="key_">Extending Organisation</div>
			<div class="value_">
				<div class="entity">{{extorg}}</div>
			</div>

		</div>
		<div class="divRow">

			<div class="key_">Implementing Organisation</div>
			<div class="value_">
				<div class="entity">{{imporg}}</div>
			</div>

		</div>
		<div class="divRow">

			<div class="key_">Reporting Organisation</div>
			<div class="value_">
				<div class="entity">{{reporg}}</div>
			</div>

		</div>
		<div class="divRow">

			<h2 class="title">Sectors</h2>

			{{#sector_array}}

		</div>
		<div class="divRow">

			<div class="key_">
				<div class="entity">{{key}}</div>
			</div>
			<div class="value_">{{value}} %</div>

			{{/sector_array}}

		</div>
		<div class="divRow">

			<h2 class="title">Policies</h2>

			{{#policy_array}}

		</div>
		<div class="divRow">

			<div class="key_">
				<div class="entity">{{key}}</div>
			</div>
			<div class="value_">{{value}}</div>

			{{/policy_array}}

		</div>
		<div class="divRow">

			<h2 class="title">Transactions</h2>

			{{#transaction_array}}

		</div>
		<div class="divRow">

			<div class="key_">{{key}}</div>
			<div class="value_">{{value}}</div>

			{{/transaction_array}}

		</div>
		<div class="divRow">

			<h2 class="title">Collaborations</h2>

		</div>
		<div class="divRow">

			<div class="key_">Collaboration type</div>
			<div class="value_">{{collaboration_type}}</div>

		</div>
		<div class="divRow">

			<div class="key_">Default aid type</div>
			<div class="value_">{{default_aid_type}}</div>

		</div>
		<div class="divRow">

			<div class="key_">Default finance type</div>
			<div class="value_">{{default_finance_type}}</div>

		</div>
		<div class="divRow">

			<div class="key_">Default flow type</div>
			<div class="value_">{{default_flow_type}}</div>

		</div>
		<div class="divRow">

			<div class="key_">Default tied status</div>
			<div class="value_">{{default_tied_status}}</div>

		</div>

		<div class="divRow">

			<h2 class="title">Report</h2>

		</div>
		<div class="divRow">

			<div class="key_">Report</div>
			<div class="value_">
				<div class='report'></div>
			</div>

		</div>
	</div>
</body>
</html>