{"env":{"staging":{"db":"http:\/\/ouchdb:07chdb@127.0.0.1:5984\/calais"},"default":{"db":"http:\/\/ouchdb:07chdb@127.0.0.1:5984\/calais"},"production":{"db":"http:\/\/ouchdb:07chdb@iati.iriscouch.com:5984\/calais"}}}